/* Login.css */
.login-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
  }
  
  .login-form-container {
    max-width: 400px;
    width: 100%;
  }
  
  .login-form {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .login-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .login-btn {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .login-btn:hover {
    background: #0056b3;
  }
  
  .login-btn:focus {
    background: #0056b3;
    box-shadow: none;
  }
  